<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109190068388-rn1gl6hkj0cau226qbsn5qrj2vkpla62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109190068388-rn1gl6hkj0cau226qbsn5qrj2vkpla62</string>
	<key>API_KEY</key>
	<string>AIzaSyAzPbhmw17RSmkoA-Vj_yVgGoZXDeS-juI</string>
	<key>GCM_SENDER_ID</key>
	<string>109190068388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>isadiliballi.iEmotion</string>
	<key>PROJECT_ID</key>
	<string>iemotion</string>
	<key>STORAGE_BUCKET</key>
	<string>iemotion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109190068388:ios:ef8feb127c4c950be04e31</string>
	<key>DATABASE_URL</key>
	<string>https://iemotion.firebaseio.com</string>
</dict>
</plist>